@model MonopakApp.ViewModels.HomeVm
@using MonopakApp.Models
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <input type="hidden" id="prdId" value="@ViewBag.ProCatId" />
<section id="Products">
    <div class="container-fluid">
        <div class="product-header">
            <h1 class="hdmain text-center my-5">Məhsullar</h1>
        </div>
        <div class="product-cat d-flex justify-content-center flex-wrap">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs navCat">
                @foreach (var item in Model.categoryList)
                {
                    <li class="nav-item">
                        <a class="nav-link" cat-id="@item.Id" data-toggle="tab" href="#home">@item.Name</a>
                    </li>
                }


            </ul>
        </div>
        <div style="display:none" class="productLoad col-4 mx-auto">
            <img class="img-fluid" src="~/FrontPublic/Uploads/prload.gif" />
        </div>
        <div class="row mnProduct">

            @foreach (var pro in Model.ProductList)
            {
                <div class="col-lg-6 col-sm-6 my-4">
                    <div class="product-item">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="product-text p-3">
                                    @Html.Raw(pro.Description)
                                    <hr />
                                    <h4>@pro.Name</h4>

                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="product-img">
                                    <img src="@pro.ProductPhoto" class="img-fluid" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="d-flex justify-content-center my-3">
            <a class="btn btnPro btn-outline-success btn-lg text-center" href="javscript:void(0)">Daha çox məhsul</a>
        </div>
    </div>
</section>


@section scripts{
    <script>
        $(function () {
            var pr = $("#prdId").val();
            console.log(pr)
            if (pr != "") {
               $(".navCat li a[cat-id|="+pr+"]").addClass("active");
            }
            $(".navCat li a").on("click", function () {
                var ctid = Number($(this).attr("cat-id"))
                $.ajax({
                    url: "/Home/ProList/",
                    method: "POST",
                    type: "JSON",
                    data: {
                        "catId": ctid
                    },
                    beforeSend: function () {
                        $(".mnProduct").empty();
                        $(".productLoad").show();
                    },
                    success: function (res) {

                        $(".mnProduct").append(res)
                    },
                    complete: function (data) {
                        $(".productLoad").hide();
                    }
                })
            })

            
        })
        $(function () {
            let currentpro = 6;
            $(".btnPro").click(function () {
                var ctId = Number($(".navCat li").find(".active").attr("cat-id"));
                $.ajax({
                    url: "/Home/GetMorePro",
                    method: "POST",
                    type: "JSON",
                    data: {
                        "catId": ctId,
                        "skip": currentpro,
                        "take":6
                    },
                      success: function (res) {
                          $(".mnProduct").append(res)
                          currentpro += 6;
                    },
                })
                console.log(ctId)
            })
        })
    </script>
    }